.wrapper + .wrapper {
   margin-left: 16px;
}
.wrapper {
   border: 1px solid transparent;
   font-size: 1.5rem;
   font-weight: 600;
   border-radius: 4px;
   cursor: pointer;
}
.large {
   min-width: 140px;
   padding: 14px 22px;
}
.medium {
   min-width: 100px;
   padding: 8px;
   //    border-radius: 2px;
}
.small {
   min-width: 94px;
   padding: 4px 10px;
}
.primary {
   background-color: var(--root-color);
   color: var(--white-color);
}
.outline {
   background-color: var(--white-color);
   color: var(--root-color);
   border-color: currentColor;
   &:hover {
      background-color: rgba(254, 44, 85, 0.06);
   }
}
.classic {
   font-weight: 500;
   background-color: var(--white-color);
   color: black;
   border-color: rgba(22, 24, 35, 0.12);
   &:hover {
      background-color: var(--hover-color);
   }
}
.transparent {
   background: transparent;
}
