@keyframes spinner {
   from {
      transform: rotate(0);
   }
   to {
      transform: rotate(360deg);
   }
}

.mr-l-m {
   margin-left: 24px !important;
}

.ml-0 {
   margin: 0;
}

.wrapper {
   height: var(--header-height);
   box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
   background-color: var(--white-color);
   position: fixed;
   z-index: 100;
   top: 0;
   left: 0;
   right: 0;
}
.inner {
   width: var(--header-width);
   height: 100%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 24px 0 20px;
}
.search-result {
   display: none;
}
.search-result,
.search-wrap {
   width: 361px;
}
.search-wrap {
   height: 46px;
   background-color: rgba(22, 24, 35, 0.06);
   display: flex;
   border-radius: 25px;
   overflow: hidden;
   .inner-search {
      padding: 12px 16px;
      flex: 1;
      display: flex;
      justify-content: space-between;
   }
   input {
      font-size: 1.6rem;
      flex: 1;
      border: none;
      background-color: transparent;
      outline: none;
      caret-color: rgb(254, 44, 85);
      line-height: 22px;
      appearance: textfield;
   }
   .clear-loading {
      font-size: 1.5rem;
      color: #a6a7ac;
   }
   .loading {
      animation: spinner 1s infinite;
   }
   .clear-loading,
   .search {
      border: none;
      cursor: pointer;
   }
   .search {
      font-size: 2rem;
      position: relative;
      width: 56px;
      color: #a9a9a9;
      &:hover {
         filter: brightness(0.9);
      }
      &::before {
         content: '';
         position: absolute;
         left: 0;
         bottom: 50%;
         width: 1px;
         height: 60%;
         transform: translateY(50%);
         background-color: rgba(22, 24, 35, 0.12);
      }
   }
}

.actions {
   display: flex;
   align-items: center;
   .ml-s {
      margin-left: 8px;
   }
   .options {
      position: relative;
      align-self: center;
      margin-left: 16px;
      font-family: ProximaNova;
      display: flex;
      align-items: center;
      cursor: pointer;
      svg {
         height: 65%;
         width: 5px;
         padding: 0 10px;
      }
      .options-btn {
         border: none;
         background-color: transparent;
         cursor: pointer;
      }
   }
}

//had login
.had-login {
   > *:not(:last-child) {
      margin-left: 16px;
      cursor: pointer;
   }
   .send-icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      svg {
         padding: 6px;
         width: 100%;
         height: 100%;
      }
   }
   .inbox-icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
   }
}
