@import '/src/components/GlobalStyles/globalStyles.scss';
::-webkit-scrollbar {
   width: 7px;
}
::-webkit-scrollbar-thumb {
   background: rgb(211, 210, 210);
   border-radius: 25px;
}

//wrapper
.wrapper {
   width: 100%;
   min-height: 100px;
   border-radius: 8px;
   background-color: #fff;
   box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
   overflow: auto;
   padding: 10px 0;
}

// Menu
.menu {
   margin-top: 8px;
   .title {
      position: relative;
      display: flex;
      align-items: center;
      padding: 6px 16px;
      font-weight: 600;
      font-size: 1.8rem;
      .chevron-left {
         position: absolute;
         width: 20px;
         height: 20px;
      }
      h4 {
         flex: 1;
         text-align: center;
      }
   }
   &::before {
      @include topArrow(22px);
   }
}
.trans-left-s {
   transform: translateX(20px);
}

//Menu Item
.menu-item {
   height: 42px;
   width: 240px;
   cursor: pointer;
   &:hover {
      background-color: var(--hover-color);
   }
   img {
      width: 20px;
      height: 20px;
   }
   button,
   a {
      width: 100%;
      height: 100%;
      padding: 10px 16px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--text-color);
      font-weight: 600;
      font-size: 1.6rem;
      background: transparent;
      text-align: left;
      font-family: ProximaNova;
      span {
         flex: 1;
         margin-left: 8px;
      }
   }
}

.separate {
   border-top: 2px solid var(--hover-color);
}
