::-webkit-scrollbar {
   width: 7px;
}
::-webkit-scrollbar-thumb {
   background: rgb(211, 210, 210);
   border-radius: 25px;
}

//wrapper
.wrapper {
   width: 100%;
   min-height: 100px;
   max-height: 70vh;
   border-radius: 8px;
   background-color: #fff;
   box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
   overflow: auto;
   padding: 10px 0;
}

//Menu Item
.menu-item {
   height: 42px;
   width: 230px;
   display: flex;
   padding: 10px 16px;

   align-items: center;
   cursor: pointer;
   &:hover {
      background-color: var(--hover-color);
   }
   img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
   }
   button,
   a {
      text-decoration: none;
      color: var(--text-color);
      padding: 0;
      font-weight: 600;
      font-size: 1.6rem;
      background: transparent;
      text-align: left;
   }
}
